.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

a {
    color: inherit;
}

a:hover {
    color: #E33054;
    text-decoration: none;
}

.row.content {
    height: 450px;
}

.icon {
    width: 100px;
}

.logo {
    width: 200px;
}

.panda {
    width: 700px;
}

.card-block {
    box-shadow: 5px 5px 2px #888888;
    border-radius: 10px;
    background-color: #F5F5F5;
    padding: 10px;
    margin: 5px;
}

.form-card {
    margin-top: 30px;
    margin-bottom: 60px;
}

.card-title {
    text-align: center;
    padding-top: 10px;
}

.card-text {
    text-align: center;
}

footer {
    background-color: #555;
    color: white;
    position: fixed;
    height: 4rem;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

img {
    width: 100px;
}

#map {
    margin: auto;
    height: 71vh;
    width: 100%;
}