<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CarTogether</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link th:href="@{~/css/index.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="site-content container-fluid">
    <div class="row content">
        <div class="col-sm-6 col-sm-offset-3">
            <form class="form" id="add-form" name="add-form">
            <div class="card-block form-card">
            <div class="form-group">
                <label for="name">Imię i nazwisko</label>
                <input type="text" class="form-control" id="name" placeholder="Imię i nazwisko"/>
            </div>
            <div class="form-group">
                <label for="start">Punkt początkowy</label>
                <input type="text" class="form-control"
                       data-latitude="0" data-longitude="0" id="start" placeholder="Punkt startowy"/>
            </div>
            <div class="form-group">
                <label for="end">Punkt końcowy</label>
                <input type="text" class="form-control"
                       data-latitude="0" data-longitude="0" id="end" placeholder="Punkt końcowy"/>
            </div>
            <div class="form-group">
                <label for="select">Ilość miejsc w samochodzie</label>
                <select class="form-control" id="select" name="select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="form-group">
                <label for="contact">Numer telefonu</label>
                <input type="number" class="form-control" id="contact" placeholder="XXXXXXXXX"/>
            </div>
            <div class="form-group">
                <label for="time">Godzina odjazdu</label>
                <input type="time" class="form-control" id="time" placeholder=""/>
            </div>
            <div class="form-group">
                <label for="others">Dodatkowe informacje</label>
                <textarea class="form-control" id="others" rows="3" name="others" placeholder="Inne informacje"></textarea>
            </div>
            <button id="submit" type="submit" class="btn btn-primary" disabled="disabled">Utwórz</button>
            <a th:href="@{~/tracks}"><button id="back" name="back" class="btn btn-default submit">Wróć</button></a>
            </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{~/webjars/jquery/1.9.1/jquery.min.js}" src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script th:src="@{~/webjars/bootstrap/3.3.6/js/bootstrap.min.js}" src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script th:src="@{~/js/post_form.js}" src=""></script>
<script th:src="@{~/js/form.js}" src=""></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClhLo7xcQp1G13D7VSR65oekjtwj1Llsc&amp;libraries=places&amp;callback=initAutocomplete" async="async" defer="defer"></script>

</body>
</html>