<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AntySmomg</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link th:href="@{~/css/index_css.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>


<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <h1>Welcome</h1>

            <hr/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-block main-block">
                            <h2 class="card-title">Kierowca</h2>
                            <img th:src="@{~/img/sports-car.svg}"/>
                        <hr/>
                        <p class="card-text">Dupa</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-block main-block">
                            <h2 class="card-title">Pasażer</h2>
                            <img th:src="@{~/img/man-user.svg}"/>
                            <hr/>
                            <p class="card-text">Dupa</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{~/webjars/jquery/1.9.1/jquery.min.js}" src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script th:src="@{~/webjars/bootstrap/3.3.6/js/bootstrap.min.js}" src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>